In [1]:
import pandas as pd
import numpy as np

df=pd.read_csv('C:\\Users\\Aditya Vijjapu\\Dataset\\loan_data-inputs_train445.csv')

C:\Users\Aditya Vijjapu\AppData\Local\Temp\ipykernel_7664\1023177995.py:4: DtypeWarning: Columns (124,125,126,129,130,131,134) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('C:\\Users\\Aditya Vijjapu\\Dataset\\loan_data-inputs_train445.csv')

In [2]:
df

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,...,dti:21.7-22.4,dti:22.4-35,dti:>35,mths_since_last_record:Missing,mths_since_last_record:0-2,mths_since_last_record:3-20,mths_since_last_record:21-31,mths_since_last_record:32-80,mths_since_last_record:81-86,mths_since_last_record:>86
0,305053,NaN,NaN,14600,14600,14600.0,36 months,21.85,556.45,D,...,0,0,1,1,0,0,0,0,0,0
1,50247,NaN,NaN,10000,10000,10000.0,60 months,13.56,230.41,C,...,0,0,0,1,0,0,0,0,0,0
2,1630001,NaN,NaN,20000,20000,20000.0,36 months,12.74,671.38,C,...,0,0,0,1,0,0,0,0,0,0
3,927626,NaN,NaN,8000,8000,8000.0,36 months,13.49,271.45,C,...,0,0,0,1,0,0,0,0,0,0
4,758488,NaN,NaN,30000,30000,30000.0,36 months,11.99,996.29,C,...,0,1,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1808529,732180,NaN,NaN,22075,22075,22075.0,36 months,15.31,768.60,C,...,0,0,0,1,0,0,0,0,0,0
1808530,110268,NaN,NaN,10000,10000,10000.0,36 months,18.94,366.26,D,...,0,0,0,1,0,0,0,0,0,0
1808531,1692743,NaN,NaN,12000,12000,12000.0,60 months,23.70,343.13,F,...,0,0,0,0,0,0,0,0,0,1
1808532,2229084,NaN,NaN,14000,14000,14000.0,36 months,10.91,457.75,B,...,0,1,0,1,0,0,0,0,0,0
1808533,2219110,NaN,NaN,9800,9800,9800.0,36 months,14.08,335.33,C,...,0,1,0,1,0,0,0,0,0,0

In [3]:
df.columns

Index(['Unnamed: 0', 'id', 'member_id', 'loan_amnt', 'funded_amnt',
       'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade',
       ...
       'dti:21.7-22.4', 'dti:22.4-35', 'dti:>35',
       'mths_since_last_record:Missing', 'mths_since_last_record:0-2',
       'mths_since_last_record:3-20', 'mths_since_last_record:21-31',
       'mths_since_last_record:32-80', 'mths_since_last_record:81-86',
       'mths_since_last_record:>86'],
      dtype='object', length=383)

In [4]:
df['addr_state']

0          CA
1          PA
2          CA
3          MO
4          OH
           ..
1808529    NJ
1808530    FL
1808531    AR
1808532    TX
1808533    TX
Name: addr_state, Length: 1808534, dtype: object

In [5]:
df['addr_state'].unique()

array(['CA', 'PA', 'MO', 'OH', 'GA', 'NY', 'TX', 'AZ', 'AR', 'IN', 'UT',
       'IL', 'VA', 'KY', 'MA', 'NC', 'CO', 'RI', 'MT', 'AL', 'NE', 'OK',
       'FL', 'WA', 'KS', 'NJ', 'MN', 'OR', 'SC', 'TN', 'NV', 'MS', 'DE',
       'WI', 'MI', 'CT', 'MD', 'WV', 'LA', 'NM', 'SD', 'HI', 'ID', 'VT',
       'DC', 'ME', 'NH', 'WY', 'AK', 'ND', 'IA'], dtype=object)

In [6]:
is_nd_present = 'ND' in df['addr_state'].values

# Print the result
if is_nd_present:
    print("'ND' is present in the 'addr_state' column.")
else:
    print("'ND' is NOT present in the 'addr_state' column.")

'ND' is present in the 'addr_state' column.

In [7]:


df['months_since_issue_date:38-39'] = np.where(df['months_since_issue_date'].isin(range(38, 40)), 1, 0)
df['months_since_issue_date:40-41'] = np.where(df['months_since_issue_date'].isin(range(40, 42)), 1, 0)
df['months_since_issue_date:42-48'] = np.where(df['months_since_issue_date'].isin(range(42, 49)), 1, 0)
df['months_since_issue_date:49-52'] = np.where(df['months_since_issue_date'].isin(range(49, 53)), 1, 0)
df['months_since_issue_date:53-64'] = np.where(df['months_since_issue_date'].isin(range(53, 65)), 1, 0)
df['months_since_issue_date:65-84'] = np.where(df['months_since_issue_date'].isin(range(65, 85)), 1, 0)
df['months_since_issue_date:>84'] = np.where(df['months_since_issue_date'].isin(range(85, int(df['months_since_issue_date'].max()))), 1, 0)

#  dummy variables for 'int_rate'

df['int_rate:9.548-12.025'] = np.where((df['int_rate'] > 9.548) & (df['int_rate'] <= 12.025), 1, 0)
df['int_rate:12.025-15.74'] = np.where((df['int_rate'] > 12.025) & (df['int_rate'] <= 15.74), 1, 0)
df['int_rate:15.74-20.281'] = np.where((df['int_rate'] > 15.74) & (df['int_rate'] <= 20.281), 1, 0)
df['int_rate:>20.281'] = np.where((df['int_rate'] > 20.281), 1, 0)

#  dummy variables for 'months_since_earliest_cr_line'
df['months_since_earliest_cr_line:<140'] = np.where(df['months_since_earliest_cr_line'].isin(range(140)), 1, 0)
df['months_since_earliest_cr_line:141-164'] = np.where(df['months_since_earliest_cr_line'].isin(range(140, 165)), 1, 0)
df['months_since_earliest_cr_line:165-247'] = np.where(df['months_since_earliest_cr_line'].isin(range(165, 248)), 1, 0)
df['months_since_earliest_cr_line:248-270'] = np.where(df['months_since_earliest_cr_line'].isin(range(248, 271)), 1, 0)
df['months_since_earliest_cr_line:271-352'] = np.where(df['months_since_earliest_cr_line'].isin(range(271, 353)), 1, 0)
df['months_since_earliest_cr_line:>352'] = np.where(df['months_since_earliest_cr_line'] >= 353, 1, 0)

#  dummy variables for 'delinq_2yrs'
df['delinq_2yrs:0'] = np.where((df['delinq_2yrs'] == 0), 1, 0)
df['delinq_2yrs:1-3'] = np.where((df['delinq_2yrs'] >= 1) & (df['delinq_2yrs'] <= 3), 1, 0)
df['delinq_2yrs:>=4'] = np.where((df['delinq_2yrs'] >= 4), 1, 0)

#  dummy variables for 'inq_last_6mths'
df['inq_last_6mths:0'] = np.where((df['inq_last_6mths'] == 0), 1, 0)
df['inq_last_6mths:1-2'] = np.where((df['inq_last_6mths'] >= 1) & (df['inq_last_6mths'] <= 2), 1, 0)
df['inq_last_6mths:3-6'] = np.where((df['inq_last_6mths'] >= 3) & (df['inq_last_6mths'] <= 6), 1, 0)
df['inq_last_6mths:>6'] = np.where((df['inq_last_6mths'] > 6), 1, 0)

#  dummy variables for 'open_acc'
df['open_acc:0'] = np.where((df['open_acc'] == 0), 1, 0)
df['open_acc:1-3'] = np.where((df['open_acc'] >= 1) & (df['open_acc'] <= 3), 1, 0)
df['open_acc:4-12'] = np.where((df['open_acc'] >= 4) & (df['open_acc'] <= 12), 1, 0)
df['open_acc:13-17'] = np.where((df['open_acc'] >= 13) & (df['open_acc'] <= 17), 1, 0)
df['open_acc:18-22'] = np.where((df['open_acc'] >= 18) & (df['open_acc'] <= 22), 1, 0)
df['open_acc:23-25'] = np.where((df['open_acc'] >= 23) & (df['open_acc'] <= 25), 1, 0)
df['open_acc:26-30'] = np.where((df['open_acc'] >= 26) & (df['open_acc'] <= 30), 1, 0)
df['open_acc:>=31'] = np.where((df['open_acc'] >= 31), 1, 0)

# dummy variables for 'pub_rec'

df['pub_rec:3-4'] = np.where((df['pub_rec'] >= 3) & (df['pub_rec'] <= 4), 1, 0)
df['pub_rec:>=5'] = np.where((df['pub_rec'] >= 5), 1, 0)

#  dummy variables for 'total_acc'
df['total_acc:28-51'] = np.where((df['total_acc'] >= 28) & (df['total_acc'] <= 51), 1, 0)
df['total_acc:>=52'] = np.where((df['total_acc'] >= 52), 1, 0)

#  dummy variables for 'acc_now_delinq'
df['acc_now_delinq:0'] = np.where((df['acc_now_delinq'] == 0), 1, 0)
df['acc_now_delinq:>=1'] = np.where((df['acc_now_delinq'] >= 1), 1, 0)

#  dummy variables for 'total_rev_hi_lim'

df['total_rev_hi_lim:5K-10K'] = np.where((df['total_rev_hi_lim'] > 5000) & (df['total_rev_hi_lim'] <= 10000), 1, 0)
df['total_rev_hi_lim:10K-20K'] = np.where((df['total_rev_hi_lim'] > 10000) & (df['total_rev_hi_lim'] <= 20000), 1, 0)
df['total_rev_hi_lim:20K-30K'] = np.where((df['total_rev_hi_lim'] > 20000) & (df['total_rev_hi_lim'] <= 30000), 1, 0)
df['total_rev_hi_lim:30K-40K'] = np.where((df['total_rev_hi_lim'] > 30000) & (df['total_rev_hi_lim'] <= 40000), 1, 0)
df['total_rev_hi_lim:40K-55K'] = np.where((df['total_rev_hi_lim'] > 40000) & (df['total_rev_hi_lim'] <= 55000), 1, 0)
df['total_rev_hi_lim:55K-95K'] = np.where((df['total_rev_hi_lim'] > 55000) & (df['total_rev_hi_lim'] <= 95000), 1, 0)
df['total_rev_hi_lim:>95K'] = np.where((df['total_rev_hi_lim'] > 95000), 1, 0)

df['annual_inc:20K-30K'] = np.where((df['annual_inc'] > 20000) & (df['annual_inc'] <= 30000), 1, 0)
df['annual_inc:30K-40K'] = np.where((df['annual_inc'] > 30000) & (df['annual_inc'] <= 40000), 1, 0)
df['annual_inc:40K-50K'] = np.where((df['annual_inc'] > 40000) & (df['annual_inc'] <= 50000), 1, 0)
df['annual_inc:50K-60K'] = np.where((df['annual_inc'] > 50000) & (df['annual_inc'] <= 60000), 1, 0)
df['annual_inc:60K-70K'] = np.where((df['annual_inc'] > 60000) & (df['annual_inc'] <= 70000), 1, 0)
df['annual_inc:70K-80K'] = np.where((df['annual_inc'] > 70000) & (df['annual_inc'] <= 80000), 1, 0)
df['annual_inc:80K-90K'] = np.where((df['annual_inc'] > 80000) & (df['annual_inc'] <= 90000), 1, 0)
df['annual_inc:90K-100K'] = np.where((df['annual_inc'] > 90000) & (df['annual_inc'] <= 100000), 1, 0)
df['annual_inc:100K-120K'] = np.where((df['annual_inc'] > 100000) & (df['annual_inc'] <= 120000), 1, 0)
df['annual_inc:120K-140K'] = np.where((df['annual_inc'] > 120000) & (df['annual_inc'] <= 140000), 1, 0)
df['annual_inc:>140K'] = np.where((df['annual_inc'] > 140000), 1, 0)


# dummy variables for 'mths_since_last_delinq'
df['mths_since_last_delinq:0-3'] = np.where((df['mths_since_last_delinq'] >= 0) & (df['mths_since_last_delinq'] <= 3), 1, 0)
df['mths_since_last_delinq:4-30'] = np.where((df['mths_since_last_delinq'] >= 4) & (df['mths_since_last_delinq'] <= 30), 1, 0)
df['mths_since_last_delinq:31-56'] = np.where((df['mths_since_last_delinq'] >= 31) & (df['mths_since_last_delinq'] <= 56), 1, 0)
df['mths_since_last_delinq:>=57'] = np.where((df['mths_since_last_delinq'] >= 57), 1, 0)

# dummy variables for 'dti'

df['dti:1.4-3.5'] = np.where((df['dti'] > 1.4) & (df['dti'] <= 3.5), 1, 0)
df['dti:3.5-7.7'] = np.where((df['dti'] > 3.5) & (df['dti'] <= 7.7), 1, 0)
df['dti:7.7-10.5'] = np.where((df['dti'] > 7.7) & (df['dti'] <= 10.5), 1, 0)
df['dti:10.5-16.1'] = np.where((df['dti'] > 10.5) & (df['dti'] <= 16.1), 1, 0)
df['dti:16.1-20.3'] = np.where((df['dti'] > 16.1) & (df['dti'] <= 20.3), 1, 0)
df['dti:20.3-21.7'] = np.where((df['dti'] > 20.3) & (df['dti'] <= 21.7), 1, 0)
df['dti:21.7-22.4'] = np.where((df['dti'] > 21.7) & (df['dti'] <= 22.4), 1, 0)
df['dti:22.4-35'] = np.where((df['dti'] > 22.4) & (df['dti'] <= 35), 1, 0)
df['dti:>35'] = np.where((df['dti'] > 35), 1, 0)

# dummy variables for 'mths_since_last_record'

df['mths_since_last_record:0-2'] = np.where((df['mths_since_last_record'] >= 0) & (df['mths_since_last_record'] <= 2), 1, 0)
df['mths_since_last_record:3-20'] = np.where((df['mths_since_last_record'] >= 3) & (df['mths_since_last_record'] <= 20), 1, 0)
df['mths_since_last_record:21-31'] = np.where((df['mths_since_last_record'] >= 21) & (df['mths_since_last_record'] <= 31), 1, 0)
df['mths_since_last_record:32-80'] = np.where((df['mths_since_last_record'] >= 32) & (df['mths_since_last_record'] <= 80), 1, 0)
df['mths_since_last_record:81-86'] = np.where((df['mths_since_last_record'] >= 81) & (df['mths_since_last_record'] <= 86), 1, 0)
df['mths_since_last_record:>86'] = np.where((df['mths_since_last_record'] > 86), 1, 0)


df['addr_state:ND_NE_IA_NV_FL_HI_AL'] = sum([ df['addr_state:ND'],df['addr_state:NE'],
                                              df['addr_state:IA'], df['addr_state:NV'],
                                              df['addr_state:FL'],df['addr_state:HI'],
                                                          df['addr_state:AL']])

df['addr_state:NM_VA'] = sum([df['addr_state:NM'], df['addr_state:VA']])

df['addr_state:OK_TN_MO_LA_MD_NC'] = sum([df['addr_state:OK'], df['addr_state:TN'],
                                              df['addr_state:MO'], df['addr_state:LA'],
                                              df['addr_state:MD'], df['addr_state:NC']])

df['addr_state:UT_KY_AZ_NJ'] = sum([df['addr_state:UT'], df['addr_state:KY'],
                                              df['addr_state:AZ'], df['addr_state:NJ']])

df['addr_state:AR_MI_PA_OH_MN'] = sum([df['addr_state:AR'], df['addr_state:MI'],
                                              df['addr_state:PA'], df['addr_state:OH'],
                                              df['addr_state:MN']])

df['addr_state:RI_MA_DE_SD_IN'] = sum([df['addr_state:RI'], df['addr_state:MA'],
                                              df['addr_state:DE'], df['addr_state:SD'],
                                              df['addr_state:IN']])

df['addr_state:GA_WA_OR'] = sum([df['addr_state:GA'], df['addr_state:WA'],
                                              df['addr_state:OR']])

df['addr_state:WI_MT'] = sum([df['addr_state:WI'], df['addr_state:MT']])

df['addr_state:IL_CT'] = sum([df['addr_state:IL'], df['addr_state:CT']])

df['addr_state:KS_SC_CO_VT_AK_MS'] = sum([df['addr_state:KS'], df['addr_state:SC'],
                                              df['addr_state:CO'], df['addr_state:VT'],
                                              df['addr_state:AK'], df['addr_state:MS']])

df['addr_state:WV_NH_WY_DC_ME_ID'] = sum([df['addr_state:WV'], df['addr_state:NH'],
                                              df['addr_state:WY'], df['addr_state:DC'],
                                              df['addr_state:ME'], df['addr_state:ID']])
df['purpose:oth__med__vacation'] = sum([df['purpose:other'], df['purpose:medical'],
                                             df['purpose:vacation']])
df['purpose:major_purch__car__home_impr'] = sum([df['purpose:major_purchase'], df['purpose:car'],
                                                        df['purpose:home_improvement']])
df['emp_length:1'] = np.where(df['emp_length_int'].isin([1]), 1, 0)
df['emp_length:2-4'] = np.where(df['emp_length_int'].isin(range(2, 5)), 1, 0)
df['emp_length:5-6'] = np.where(df['emp_length_int'].isin(range(5, 7)), 1, 0)
df['emp_length:7-9'] = np.where(df['emp_length_int'].isin(range(7, 10)), 1, 0)
df['emp_length:10'] = np.where(df['emp_length_int'].isin([10]), 1, 0)


print(df.head())

   Unnamed: 0  id  member_id  loan_amnt  funded_amnt  funded_amnt_inv  \
0      305053 NaN        NaN      14600        14600          14600.0
1       50247 NaN        NaN      10000        10000          10000.0
2     1630001 NaN        NaN      20000        20000          20000.0
3      927626 NaN        NaN       8000         8000           8000.0
4      758488 NaN        NaN      30000        30000          30000.0

         term  int_rate  installment grade  ... addr_state:NM_VA  \
0   36 months     21.85       556.45     D  ...                0
1   60 months     13.56       230.41     C  ...                0
2   36 months     12.74       671.38     C  ...                0
3   36 months     13.49       271.45     C  ...                0
4   36 months     11.99       996.29     C  ...                0

  addr_state:OK_TN_MO_LA_MD_NC addr_state:UT_KY_AZ_NJ  \
0                            0                      0
1                            0                      0
2                            0                      0
3                            1                      0
4                            0                      0

  addr_state:AR_MI_PA_OH_MN  addr_state:RI_MA_DE_SD_IN addr_state:GA_WA_OR  \
0                         0                          0                   0
1                         1                          0                   0
2                         0                          0                   0
3                         0                          0                   0
4                         1                          0                   0

  addr_state:WI_MT addr_state:IL_CT addr_state:KS_SC_CO_VT_AK_MS  \
0                0                0                            0
1                0                0                            0
2                0                0                            0
3                0                0                            0
4                0                0                            0

   addr_state:WV_NH_WY_DC_ME_ID
0                             0
1                             0
2                             0
3                             0
4                             0

[5 rows x 394 columns]

In [8]:
# List of selected features
selected_features = [
    'home_ownership:OWN', 'home_ownership:MORTGAGE',
    "addr_state:ND_NE_IA_NV_FL_HI_AL", "addr_state:NM_VA", "addr_state:OK_TN_MO_LA_MD_NC", 
    "addr_state:UT_KY_AZ_NJ", "addr_state:AR_MI_PA_OH_MN", "addr_state:RI_MA_DE_SD_IN", 
    "addr_state:GA_WA_OR", "addr_state:WI_MT", "addr_state:IL_CT", 
    "addr_state:KS_SC_CO_VT_AK_MS", "addr_state:WV_NH_WY_DC_ME_ID",
    'purpose:oth__med__vacation', 'purpose:major_purch__car__home_impr',
    'emp_length:1', 'emp_length:2-4', 'emp_length:5-6', 'emp_length:7-9', 'emp_length:10',
    'months_since_issue_date:38-39', 'months_since_issue_date:40-41', 'months_since_issue_date:42-48',
    'months_since_issue_date:49-52', 'months_since_issue_date:53-64', 'months_since_issue_date:65-84',
    'months_since_issue_date:>84',
    'int_rate:9.548-12.025', 'int_rate:12.025-15.74', 'int_rate:15.74-20.281', 'int_rate:>20.281',
    'months_since_earliest_cr_line:141-164', 'months_since_earliest_cr_line:165-247',
    'months_since_earliest_cr_line:248-270', 'months_since_earliest_cr_line:271-352',
    'months_since_earliest_cr_line:>352',
    'delinq_2yrs:1-3', 'delinq_2yrs:>=4',
    'inq_last_6mths:1-2', 'inq_last_6mths:3-6', 'inq_last_6mths:>6',
    'open_acc:1-3', 'open_acc:4-12', 'open_acc:13-17', 'open_acc:18-22', 'open_acc:23-25',
    'open_acc:26-30', 'open_acc:>=31',
    'pub_rec:3-4', 'pub_rec:>=5',
    'total_acc:28-51', 'total_acc:>=52',
    'acc_now_delinq:>=1',
    'total_rev_hi_lim:5K-10K', 'total_rev_hi_lim:10K-20K', 'total_rev_hi_lim:20K-30K',
    'total_rev_hi_lim:30K-40K', 'total_rev_hi_lim:40K-55K', 'total_rev_hi_lim:55K-95K',
    'total_rev_hi_lim:>95K',
    'annual_inc:20K-30K', 'annual_inc:30K-40K', 'annual_inc:40K-50K', 'annual_inc:50K-60K',
    'annual_inc:60K-70K', 'annual_inc:70K-80K', 'annual_inc:80K-90K', 'annual_inc:90K-100K',
    'annual_inc:100K-120K', 'annual_inc:120K-140K', 'annual_inc:>140K',
    'mths_since_last_delinq:0-3', 'mths_since_last_delinq:4-30', 'mths_since_last_delinq:31-56',
    'mths_since_last_delinq:>=57',
    'dti:1.4-3.5', 'dti:3.5-7.7', 'dti:7.7-10.5', 'dti:10.5-16.1', 'dti:16.1-20.3',
    'dti:20.3-21.7', 'dti:21.7-22.4', 'dti:22.4-35', 'dti:>35',
    'mths_since_last_record:0-2', 'mths_since_last_record:3-20', 'mths_since_last_record:21-31',
    'mths_since_last_record:32-80', 'mths_since_last_record:81-86', 'mths_since_last_record:>86'
]

# Convert selected_features to a set for faster membership checking
selected_features_set = set(selected_features)

# Check which selected features are present in the dataset
present_features = [feature for feature in selected_features if feature in df.columns]



print("\nSelected features NOT present in the dataset:")
missing_features = [feature for feature in selected_features if feature not in df.columns]
print(missing_features)

Selected features NOT present in the dataset:
[]

In [9]:
# Filter columns containing 'addr_state'
addr_state_columns = [col for col in df.columns if 'addr_state' in col]

# Display the filtered columns
print("Columns containing 'addr_state':")
for col in addr_state_columns:
    print(col)

Columns containing 'addr_state':
addr_state
addr_state:AK
addr_state:AL
addr_state:AR
addr_state:AZ
addr_state:CA
addr_state:CO
addr_state:CT
addr_state:DC
addr_state:DE
addr_state:FL
addr_state:GA
addr_state:HI
addr_state:IA
addr_state:ID
addr_state:IL
addr_state:IN
addr_state:KS
addr_state:KY
addr_state:LA
addr_state:MA
addr_state:MD
addr_state:ME
addr_state:MI
addr_state:MN
addr_state:MO
addr_state:MS
addr_state:MT
addr_state:NC
addr_state:ND
addr_state:NE
addr_state:NH
addr_state:NJ
addr_state:NM
addr_state:NV
addr_state:NY
addr_state:OH
addr_state:OK
addr_state:OR
addr_state:PA
addr_state:RI
addr_state:SC
addr_state:SD
addr_state:TN
addr_state:TX
addr_state:UT
addr_state:VA
addr_state:VT
addr_state:WA
addr_state:WI
addr_state:WV
addr_state:WY
addr_state:ND_NE_IA_NV_FL_HI_AL
addr_state:NM_VA
addr_state:OK_TN_MO_LA_MD_NC
addr_state:UT_KY_AZ_NJ
addr_state:AR_MI_PA_OH_MN
addr_state:RI_MA_DE_SD_IN
addr_state:GA_WA_OR
addr_state:WI_MT
addr_state:IL_CT
addr_state:KS_SC_CO_VT_AK_MS
addr_state:WV_NH_WY_DC_ME_ID

In [10]:

#SELECTING INDEPENDENT FEATURES
selected_features = [
    'home_ownership:OWN', 'home_ownership:MORTGAGE',
    "addr_state:ND_NE_IA_NV_FL_HI_AL", "addr_state:NM_VA", "addr_state:OK_TN_MO_LA_MD_NC", 
    "addr_state:UT_KY_AZ_NJ", "addr_state:AR_MI_PA_OH_MN", "addr_state:RI_MA_DE_SD_IN", 
    "addr_state:GA_WA_OR", "addr_state:WI_MT", "addr_state:IL_CT", 
    "addr_state:KS_SC_CO_VT_AK_MS", "addr_state:WV_NH_WY_DC_ME_ID",
    'purpose:oth__med__vacation', 'purpose:major_purch__car__home_impr',
    'emp_length:1', 'emp_length:2-4', 'emp_length:5-6', 'emp_length:7-9', 'emp_length:10',
    'months_since_issue_date:38-39', 'months_since_issue_date:40-41', 'months_since_issue_date:42-48',
    'months_since_issue_date:49-52', 'months_since_issue_date:53-64', 'months_since_issue_date:65-84',
    'months_since_issue_date:>84',
    'int_rate:9.548-12.025', 'int_rate:12.025-15.74', 'int_rate:15.74-20.281', 'int_rate:>20.281',
    'months_since_earliest_cr_line:141-164', 'months_since_earliest_cr_line:165-247',
    'months_since_earliest_cr_line:248-270', 'months_since_earliest_cr_line:271-352',
    'months_since_earliest_cr_line:>352',
    'delinq_2yrs:1-3', 'delinq_2yrs:>=4',
    'inq_last_6mths:1-2', 'inq_last_6mths:3-6', 'inq_last_6mths:>6',
    'open_acc:1-3', 'open_acc:4-12', 'open_acc:13-17', 'open_acc:18-22', 'open_acc:23-25',
    'open_acc:26-30', 'open_acc:>=31',
    'pub_rec:3-4', 'pub_rec:>=5',
    'total_acc:28-51', 'total_acc:>=52',
    'acc_now_delinq:>=1',
    'total_rev_hi_lim:5K-10K', 'total_rev_hi_lim:10K-20K', 'total_rev_hi_lim:20K-30K',
    'total_rev_hi_lim:30K-40K', 'total_rev_hi_lim:40K-55K', 'total_rev_hi_lim:55K-95K',
    'total_rev_hi_lim:>95K',
    'annual_inc:20K-30K', 'annual_inc:30K-40K', 'annual_inc:40K-50K', 'annual_inc:50K-60K',
    'annual_inc:60K-70K', 'annual_inc:70K-80K', 'annual_inc:80K-90K', 'annual_inc:90K-100K',
    'annual_inc:100K-120K', 'annual_inc:120K-140K', 'annual_inc:>140K',
    'mths_since_last_delinq:0-3', 'mths_since_last_delinq:4-30', 'mths_since_last_delinq:31-56',
    'mths_since_last_delinq:>=57',
    'dti:1.4-3.5', 'dti:3.5-7.7', 'dti:7.7-10.5', 'dti:10.5-16.1', 'dti:16.1-20.3',
    'dti:20.3-21.7', 'dti:21.7-22.4', 'dti:22.4-35', 'dti:>35',
    'mths_since_last_record:0-2', 'mths_since_last_record:3-20', 'mths_since_last_record:21-31',
    'mths_since_last_record:32-80', 'mths_since_last_record:81-86', 'mths_since_last_record:>86'
]

# CREATING A DATAFRAME
inputs_train = df[selected_features].copy()

In [11]:
loan_data_targets_train = pd.read_csv('C:\\Users\\Aditya Vijjapu\\Dataset\\loan_data-targets_train445.csv')
print("Shape of loan_data_targets_train", loan_data_targets_train.shape)

Shape of loan_data_targets_train (1808534, 2)

In [12]:
from sklearn.linear_model import LogisticRegression
loan_data_targets_train.set_index(inputs_train.index, inplace=True)
target_train = loan_data_targets_train.iloc[:, 1]  

# Initialize Logistic Regression model
model = LogisticRegression(max_iter=1000)

# Fit the model using scikit-learn
model.fit(inputs_train, target_train)

LogisticRegression(max_iter=1000)

In [13]:
#MODEL FIT
coefficients = model.coef_[0]

In [14]:
feature_names = inputs_train.columns.tolist()

In [15]:
summary_table = pd.DataFrame(columns=['Feature Name', 'Coefficient'], data=list(zip(feature_names, coefficients)))

In [16]:
intercept = model.intercept_[0]
summary_table.loc[len(summary_table)] = ['Intercept', intercept]

In [17]:
# summary table
print("\nSummary Table:")
print(summary_table)

Summary Table:
                       Feature Name  Coefficient
0                home_ownership:OWN     0.129742
1           home_ownership:MORTGAGE     0.247410
2   addr_state:ND_NE_IA_NV_FL_HI_AL    -0.033928
3                  addr_state:NM_VA    -0.000206
4      addr_state:OK_TN_MO_LA_MD_NC    -0.037635
..                              ...          ...
86     mths_since_last_record:21-31    -0.174228
87     mths_since_last_record:32-80    -0.124074
88     mths_since_last_record:81-86    -0.167786
89       mths_since_last_record:>86    -0.054664
90                        Intercept     3.154990

[91 rows x 2 columns]

In [18]:
#ACCURACY
accuracy = model.score(inputs_train, loan_data_targets_train.iloc[:, 1])
print("\nModel Accuracy:", accuracy)

Model Accuracy: 0.8743230705090421

In [29]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from scipy.stats import chi2

# Example data setup (replace with your own data)
# Assuming inputs_train is your predictor variables and target_train is your target variable
# inputs_train should be a pandas DataFrame with your features

# Initialize Logistic Regression model
model = LogisticRegression(max_iter=1000)

# Fit the model using scikit-learn
model.fit(inputs_train, target_train)

# Extract coefficients and standard errors
coefficients = model.coef_[0]
n = len(target_train)  # number of observations
p = inputs_train.shape[1]  # number of features

# Predict using the model to get residuals
predictions = model.predict(inputs_train)
residuals = target_train - predictions

# Calculate Mean Squared Error (MSE)
MSE = np.sum(residuals**2) / (n - p - 1)

# Calculate variance of coefficients
variance = MSE * np.linalg.inv(np.dot(inputs_train.T, inputs_train)).diagonal()

# Calculate standard errors
std_errors = np.sqrt(variance)

# Calculate z-scores
z_scores = coefficients / std_errors

# Calculate two-tailed p-values
p_values = [2 * (1 - chi2.cdf(np.abs(z), 1)) for z in np.abs(z_scores)]

# Create summary table
summary_table = pd.DataFrame({
    'Feature Name': inputs_train.columns,
    'Coefficient': coefficients,
    'Standard Error': std_errors,
    'Z-Score': z_scores,
    'P-Value': p_values
})

# Print summary table
print("\nSummary Table with P-Values:")
print(summary_table)

Summary Table with P-Values:
                       Feature Name  Coefficient  Standard Error     Z-Score  \
0                home_ownership:OWN     0.129742        0.000911  142.363427
1           home_ownership:MORTGAGE     0.247410        0.000617  401.178692
2   addr_state:ND_NE_IA_NV_FL_HI_AL    -0.033928        0.000940  -36.092129
3                  addr_state:NM_VA    -0.000206        0.001529   -0.134525
4      addr_state:OK_TN_MO_LA_MD_NC    -0.037635        0.000959  -39.224638
..                              ...          ...             ...         ...
85      mths_since_last_record:3-20    -0.248991        0.003660  -68.039082
86     mths_since_last_record:21-31    -0.174228        0.003430  -50.797075
87     mths_since_last_record:32-80    -0.124074        0.001023 -121.285140
88     mths_since_last_record:81-86    -0.167786        0.002332  -71.953409
89       mths_since_last_record:>86    -0.054664        0.001216  -44.944545

         P-Value
0   0.000000e+00
1   0.000000e+00
2   3.764111e-09
3   1.427571e+00
4   7.554868e-10
..           ...
85  2.220446e-16
86  2.048584e-12
87  0.000000e+00
88  0.000000e+00
89  4.053891e-11

[90 rows x 5 columns]

In [31]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from scipy.stats import chi2

# Example data setup (replace with your own data)
# Assuming inputs_train is your predictor variables and target_train is your target variable
# inputs_train should be a pandas DataFrame with your features

# Initialize Logistic Regression model
model = LogisticRegression(max_iter=1000)

# Fit the model using scikit-learn
model.fit(inputs_train, target_train)

# Extract coefficients and standard errors
coefficients = model.coef_[0]
n = len(target_train)  # number of observations
p = inputs_train.shape[1]  # number of features

# Predict using the model to get residuals
predictions = model.predict(inputs_train)
residuals = target_train - predictions

# Calculate Mean Squared Error (MSE)
MSE = np.sum(residuals**2) / (n - p - 1)

# Calculate variance of coefficients
variance = MSE * np.linalg.inv(np.dot(inputs_train.T, inputs_train)).diagonal()

# Calculate standard errors
std_errors = np.sqrt(variance)

# Calculate z-scores
z_scores = coefficients / std_errors

# Calculate two-tailed p-values
p_values = [2 * (1 - chi2.cdf(np.abs(z), 1)) for z in np.abs(z_scores)]

# Create summary table with only p-values
summary_table_pvalues = pd.DataFrame({
    'Feature Name': inputs_train.columns,
    'P-Value': p_values
})

# Print summary table with only p-values
print("\nSummary Table with P-Values:")
print(summary_table_pvalues)

Summary Table with P-Values:
                       Feature Name       P-Value
0                home_ownership:OWN  0.000000e+00
1           home_ownership:MORTGAGE  0.000000e+00
2   addr_state:ND_NE_IA_NV_FL_HI_AL  3.764111e-09
3                  addr_state:NM_VA  1.427571e+00
4      addr_state:OK_TN_MO_LA_MD_NC  7.554868e-10
..                              ...           ...
85      mths_since_last_record:3-20  2.220446e-16
86     mths_since_last_record:21-31  2.048584e-12
87     mths_since_last_record:32-80  0.000000e+00
88     mths_since_last_record:81-86  0.000000e+00
89       mths_since_last_record:>86  4.053891e-11

[90 rows x 2 columns]

In [1]:

# Set significance level (alpha)
alpha = 0.05

# Select features with significant p-values
significant_features = summary_table[summary_table['P-Value'] <= alpha]

# Print significant features and their p-values
print("\nSignificant Features and their P-Values:")
print(significant_features[['Feature Name', 'P-Value']])

# Save significant features to CSV
significant_features.to_csv('significant_features.csv', index=False)
print("\nSignificant features saved to 'significant_features.csv'.")

NameError: name 'summary_table' is not defined